@use '@angular/material' as mat;
@use 'sass:map';

$_palettes: (
    primary: (0: #000000,
        10: #001B3D,
        20: #00326A,
        25: #003D7F,
        30: #004994,
        35: #1355A2,
        40: #2562B0,
        50: #4880CE,
        60: #6A9FEC,
        70: #8FBAF5,
        80: #B3D1FF,
        90: #D9E6FF,
        95: #ECF1FF,
        98: #F8F9FF,
        99: #FDFBFF,
        100: #FFFFFF,
    ),
    secondary: (0: #000000,
        10: #1D1160,
        20: #322794,
        25: #3D31A5,
        30: #483CB6,
        35: #5447C2,
        40: #6053CE,
        50: #7A6EEA,
        60: #9589FF,
        70: #B0A7FF,
        80: #CBC4FF,
        90: #E6DEFF,
        95: #F3EEFF,
        98: #FBF8FF,
        99: #FFFBFF,
        100: #FFFFFF,
    ),
    tertiary: (0: #000000,
        10: #31111D,
        20: #4A2532,
        25: #56303D,
        30: #633B48,
        35: #704653,
        40: #7D5260,
        50: #986A78,
        60: #B58392,
        70: #D29EAC,
        80: #EFB8C8,
        90: #FFD8E4,
        95: #FFECF1,
        98: #FFF8F8,
        99: #FFFBFF,
        100: #FFFFFF,
    ),
    neutral: (0: #000000,
        10: #1C1B1F,
        20: #313033,
        25: #3C3B3F,
        30: #48464A,
        35: #545256,
        40: #605D62,
        50: #79767A,
        60: #938F94,
        70: #AEA9AF,
        80: #CAC5CB,
        90: #E7E1E7,
        95: #F5EFF6,
        98: #FEF7FF,
        99: #FFFBFF,
        100: #FFFFFF,
        4: #0F0D13,
        6: #141218,
        12: #211F26,
        17: #2B2930,
        22: #36343B,
        24: #3B383E,
        87: #DDD8DE,
        92: #EBE5EB,
        94: #F1EBF1,
        96: #F7F2F7,
    ),
    neutral-variant: (0: #000000,
        10: #1D1A27,
        20: #322F3D,
        25: #3D3A48,
        30: #494554,
        35: #554F60,
        40: #615B6C,
        50: #7A7386,
        60: #948DA0,
        70: #AFA8BB,
        80: #CBC3D7,
        90: #E7DFF4,
        95: #F5EEFF,
        98: #FDF7FF,
        99: #FFFBFF,
        100: #FFFFFF,
    ),
    error: (0: #000000,
        10: #410002,
        20: #690005,
        25: #7E0007,
        30: #93000A,
        35: #A80710,
        40: #BA1A1A,
        50: #DE3730,
        60: #FF5449,
        70: #FF897D,
        80: #FFB4AB,
        90: #FFDAD6,
        95: #FFEDEA,
        98: #FFF8F7,
        99: #FFFBFF,
        100: #FFFFFF,
    ),
);

$_rest: (
    secondary: map.get($_palettes, secondary),
    neutral: map.get($_palettes, neutral),
    neutral-variant: map.get($_palettes, neutral-variant),
    error: map.get($_palettes, error),
);

$primary-palette: map.merge(map.get($_palettes, primary), $_rest);
$tertiary-palette: map.merge(map.get($_palettes, tertiary), $_rest);

$light-theme: mat.define-theme((color: (theme-type: light,
                primary: $primary-palette,
                tertiary: $tertiary-palette,
            ),
            typography: (brand-family: 'Inter',
                plain-family: 'Inter',
            ),
            density: (scale: 0),
        ));

$dark-theme: mat.define-theme((color: (theme-type: dark,
                primary: $primary-palette,
                tertiary: $tertiary-palette,
            ),
        ));